{% extends "account/_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block form_header %}
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <p class="text-center mt-3">
            Don't have an account, <a href="{% url 'account_signup' %}" class=" fw-bold">Signup</a> first.
        </p>
    </div>
{% endblock %}
{% block form_body %}
    {% csrf_token %}
    {{ form|crispy }}
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Login</button>
    <a class="w-100 btn btn-secondary btn-lg mt-2"
       style="background-color: #dd4b39"
       href="{% provider_login_url 'google' %}"
       role="button">
        <i class="fab fa-google me-2"></i>Continue with Google
    </a>
{% endblock %}
