<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My Auth</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
          {% if user.is_authenticated %}
            <a href="{% url 'myapp:manage_account' %}" class="btn btn-secondary">Manage Account</a>
            <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
          {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-outline-light">Login</a>
            <a href="{% url 'account_signup' %}" class="btn btn-success">Signup</a>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>
</header>
